<!DOCTYPE html>
<html>
<head>
  <title>MovieIii</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<nav>
  <div class="logo">
    <h2>âœ‡ | Moviegram</h2>
  </div>
  <div class="searchNav">
    <%= form_tag '#', :id => 'movie_search' do %>
      <%= text_field_tag :title, nil, :placeholder => 'ðŸ” Army of darkness', :class => 'textForm'%>
      <%= submit_tag 'Find', :class => 'submitForm' %>
    <% end %>
  </div>
</nav>

<div class="spacer"></div>

<body>
  <div class="container">

    <%= yield %>

  </div>


</body>
</html>
